<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ns.repository.OrderYearRepository">

    <select id="findAll" resultType="com.ns.entity.OrderYear">
	   select * from t_order_year ORDER BY data desc
	</select>

	<insert id="save">
        insert into t_order_year(order_num,order_payment,data) values
        (#{order_num},#{order_payment},#{data})
    </insert>
    <select id="selectData" resultType="com.ns.entity.OrderYear" >
		select * from t_order_year where data = #{yearData}
	</select>
    <update id="update">
           update t_order_year set (order_payment=#{order_payment},order_num=#{order_num})  where id = #{id}
    </update>
</mapper>